<div class="row">
  <div class="span6 offset3">
    <%= form_for(@deal) do |f| %>
      <%= f.label :receiver_id %>
      <%= f.text_field :receiver_id %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>